@import "../../assets/mixins.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: $light-gray;
  position: relative;

  &__logo {
    width: 134px;
  }
  &__btn {
    @media (max-width: 570px) {
      display: none;
    }
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      margin: 0 1rem;
      text-transform: uppercase;
      a {
        @include heading-small;
      }
    }
  }

  &-open {
    display: block;
  }
}

.burger-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    align-items: flex-start;
  }

  .nav {
    display: none;
    width: 100%;

    &__list {
      flex-direction: column;
      width: 85%;

      &-item {
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
      }
    }

    &-open {
      display: flex;
      margin-top: 10px;
    }
  }

  .burger-menu {
    display: block;
  }
}
