$darkest: #202020;
$dark-gray: #444444;
$gray: #7a7a7a;
$light-gray: #f6f6f6;

@mixin heading-large {
  font-family: Playfair Display;
  font-style: italic;
  font-size: clamp(24px, 5vw, 96px);
  font-weight: 400;
  line-height: clamp(32px, 5vw, 80px);
  letter-spacing: clamp(-1px, -0.5vw, -3.36px);
}

@mixin heading-medium {
  font-family: Playfair Display;
  font-weight: 400;
  line-height: clamp(2.125rem, 2.5vw + 1rem, 3.5rem);
  letter-spacing: -1.61px;
  font-size: clamp(1.75rem, 2vw + 1rem, 2.875rem);
}

@mixin heading-small {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.5px;
}

@mixin text-size {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  line-height: clamp(28px, 4vw, 36px);
  letter-spacing: clamp(-0.25px, -0.5vw, -0.45px);
}

@mixin subtitle-size {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 6.71999979019165px;
  text-transform: uppercase;
}
